/* Estilos para ModalRegistrarVentaComponent */
/* Estilos para ModalRegistrarVentaComponent */
.modal-content {
  background-color: #fff; /* Color de fondo del contenido del modal */
  padding: 20px; /* Espaciado interno del contenido del modal */
  border-radius: 10px; /* Bordes redondeados */
  
  /* Ajuste de dimensiones del modal */
  width: 80%; /* Ancho del modal */
  max-width: 600px; /* Ancho máximo del modal */
  height: 60%; /* Altura del modal */
  max-height: 400px; /* Altura máxima del modal */
}

/* Estilos para el modal general */
.custom-modal {
    width: 80%;
    max-width: 600px;
    height: 60%;
    max-height: 400px;
    
  }
  