
<div class="navbar bg-primary shadow-lg "><div class="drawer z-10">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" [checked]="drawerOpen" (change)="toggleDrawer()" />

  <div class="drawer-content">

    <!-- Page content here -->
    <label for="my-drawer" class="btn btn-primary drawer-button"><i class="fa-solid fa-bars"></i>
    </label>
  </div> 
  <div class="drawer-side">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-white text-base-content flex   flex-wrap gap-4">
      <!-- Sidebar content here -->
      <li class="bg-primary rounded-3xl text-white" ><a routerLink="/ventas"  class="h-14">Registrar Venta</a></li>

      <li class="bg-primary rounded-3xl text-white" ><a routerLink="/home"   class="h-14">Inventario</a></li>
      <li class="bg-primary rounded-3xl text-white" ><a routerLink="/compras"  class="h-14">Compras</a></li>
      <li class="bg-primary rounded-3xl text-white" ><a routerLink="/pedidos" class="h-14">Pedidos</a></li>
      <li class="bg-primary rounded-3xl text-white" ><a routerLink="/vertallas" class="h-14">VER TALLAS</a></li>
      
      
    </ul>
  </div>

</div>

  <a class="btn btn-ghost text-xl">{{titulo}} System</a>


