<app-nav-bar [home]="false"></app-nav-bar>
<ion-content class="h-screen">
  <div class="flex flex-row justify-around items-center gap-6 mt-6 flex-wrap">

    <div role="tablist" class="tabs tabs-lifted">
      <a role="tab" 
         *ngFor="let tab of tabs; let i = index" 
         [ngClass]="{'tab': true, 'tab-active': i === activeTabIndex, 'text-primary': true}" 
         (click)="setActiveTab(i)">
         {{ tab }}
      </a>
    </div>
  
  </div>
  <div #containerRef class="flex flex-row justify-center items-center">
  <ngx-charts-line-chart
  [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"
  [scheme]="colorScheme"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [timeline]="timeline"
  [results]="multi"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
>
</ngx-charts-line-chart>
</div>
  <div class="h-auto flex flex-col justify-center items-center mt-5">
    <div>
      <p class="text-center font-bold text-lg">TOTAL: {{granTotal}}</p>
    </div>
      <div *ngIf="activeTabIndex===0">
       <table class="table">
          <thead>
            <tr>
              <th>CANTIDAD</th>
              <th>PRODUCTO</th>
              <th>TIPO DE PAGO</th>
              <th>TOTAL</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let venta of ventas">
              <td>{{venta.CANTIDAD}}</td>
              <td>{{venta.NOMBRE}}</td>
              <td>{{venta.ID_TIPO_PAGO}}</td>
              <td>{{venta.TOTAL}}</td>
              <td>
                <button class="btn btn-sm btn-primary" >Ver detalles</button>
              </td>
            </tr>
          </tbody>
       </table>
      </div>
      <div *ngIf="activeTabIndex===1">
        <table class="table">
          <thead>
            <tr>
              <th>CANTIDAD</th>
              <th>PRODUCTO</th>
              <th>TIPO DE PAGO</th>
              <th>TOTAL</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let venta of ventas">
              <td>{{venta.CANTIDAD}}</td>
              <td>{{venta.NOMBRE}}</td>
              <td>{{venta.ID_TIPO_PAGO}}</td>
              <td>{{venta.TOTAL}}</td>
              <td>
                <button class="btn btn-sm btn-primary" >Ver detalles</button>
              </td>
            </tr>
          </tbody>
       </table>
      </div>
      <div *ngIf="activeTabIndex===2">
        <table class="table">
          <thead>
            <tr>
              <th>CANTIDAD</th>
              <th>PRODUCTO</th>
              <th>TIPO DE PAGO</th>
              <th>TOTAL</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let venta of ventas">
              <td>{{venta.CANTIDAD}}</td>
              <td>{{venta.NOMBRE}}</td>
              <td>{{venta.ID_TIPO_PAGO}}</td>
              <td>{{venta.TOTAL}}</td>
              <td>
                <button class="btn btn-sm btn-primary" >Ver detalles</button>
              </td>
            </tr>
          </tbody>
       </table>
      </div>
    
</div>

</ion-content>